<!-- nav bar -->
<nav>
  <div id="navBurger">
    <button class="hamburger hamburger--emphatic" type="button" aria-controls="navigation"
            (click)="menuClick()" [ngClass]="{'is-active': menuStatus}">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>
  </div>
  <ul [ngClass]="{'menuHidden': !menuStatus}">
    <li routerLinkActive="active">
      <a routerLink="/home">
        Home
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/projects">
        Projects
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cv">
        CV
      </a>
    </li>
    <!--<li routerLinkActive="active">-->
      <!--<a routerLink="/experience">-->
        <!--Experience-->
      <!--</a>-->
    <!--</li>-->
    <li routerLinkActive="active">
      <a routerLink="/contact">
        Contact
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
