@import 'hamburgers/hamburgers';
@import 'variables';

nav {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: white;
  display: contents;
  //background: rgb(247,247,247);
  //background: linear-gradient(90deg, rgba(247,247,247,1) 13%, rgba(208,203,203,1) 67%, rgba(129,170,180,1) 100%);

  #navBurger {
    position: relative;
    display: none;
    z-index: 6;
  }

  ul {
    top: 0;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    border-bottom: 1px solid $veryLightGrey;
    display: flow-root;
    z-index: 5;

    li {
      display: block;
      float: right;

      :hover {
        background-color: rgba(0, 139, 139, 0.15);
      }

      &.active {
         background-color: rgba(0, 139, 139, 0.15);
       }

      a {
        display: block;
        font-size: 3vh;
        font-family: monospace;
        text-decoration: none;
        color: #000;
        padding: 0.5em 1.5em 0.5em 1.5em;
      }
    }

    li:first-child {
      outline: 1px solid $veryLightGrey;
    }
  }

  @media only screen and (max-width: 700px) {

    #navBurger {
      display: block;
      background: white;
      width: 100%;
    }

    ul {
      transition: 1s all;
      position: relative;
      background: white;

      li {
        width: 100%;
      }
    }

    .menuHidden {
      top: -500px;
    }
  }
}
