<!-- nav bar -->
<nav>
  <div id="navBurger">
    <button class="hamburger hamburger--emphatic" type="button" aria-controls="navigation"
            (click)="menuClick()" [ngClass]="{'is-active': menuStatus}">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>
  </div>
  <ul [ngClass]="{'menuHidden': !menuStatus}">
    <li routerLinkActive="active">
      <a routerLink="/home">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">
        Projects
      </a>
    </li>
    <li>
      <a routerLink="/cv" routerLinkActive="active">
        CV
      </a>
    </li>
    <li>
      <a routerLink="/experience" routerLinkActive="active">
        Experience
      </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
