<div style="width: 85%; margin: auto">
  <div style="position: relative;">
    <canvas #canvas></canvas>
    <ul class="legend">
      <li>
        <div class="search">
          <input placeholder="Symbol..." type="text" spellcheck="false" value=""/>
        </div>
      </li>

      <li>
        <a>Active Symbols</a>
        <ul class="dropdown-content">
          <li *ngFor="let d of symbolData | keyvalue" [style.backgroundColor]="d.value.color">
            <a>
              {{ d.key }}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a>Metrics</a>
        <ul class="dropdown-content">
          <li *ngFor="let k of metrics">
            <a>
              {{ k }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
