div > div {
  display: block;
  text-align: center;
  position: fixed;
  top: 40%;
  width: 100%;

  h1 {
    display: inline-block;
    font-size: 10vh;
    font-family: Consolas, monospace;
    font-weight: lighter;
    user-select: none;
    background-color: rgba(204, 204, 204, 0.75);
    padding: 0.5em;

    span {
      position: relative;
      display: inline-block;
    }
  }
}

.blinking-cursor:after {
  content: '|';
  //font-weight: 100;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #5f5f5f;
  }
}

svg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1000;

  line {
    stroke: #cdcdcd;
    stroke-width: 1;
    stroke-dasharray: 450;
    animation: dash 10s ease-in-out infinite;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dashoffset: 1200;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
}
